<h1>About Us</h1>
<p>Hi! We're a simple mom and pop shop that likes to sell random things.
</p>

<p>
If anything tickles you fancy. Give us your money! And we'll make definitely make sure you get your purchase.
</p
